/*
 * _tags.scss
 */

@import "normalize-scss/sass/normalize";

@mixin tags {
  @include normalize();

  html, body, div, span, applet, object, iframe,
  h1, h2, h3, h4, h5, h6, p, blockquote, pre,
  a, abbr, acronym, address, big, cite, code,
  del, dfn, em, img, ins, kbd, q, s, samp,
  small, strike, strong, sub, sup, tt, var,
  b, u, i, center,
  dl, dt, dd, ol, ul, li,
  fieldset, form, label, legend,
  table, caption, tbody, tfoot, thead, tr, th, td,
  article, aside, canvas, details, embed,
  figure, figcaption, footer, header, hgroup,
  menu, nav, output, ruby, section, summary,
  time, mark, audio, video, input, textarea, select, option {
    box-sizing: border-box;
    font-family: $font-family;
    text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
  }

  :root, html, body {
    font-size: $font-size;
    line-height: $line-height;
    letter-spacing: $letter-spacing;
    color: $text-color;
    background-color: transparent;
    overflow: visible;
  }

  ::selection {
    background: rgba($primary-color-light, .1);
  }

  html, body {
    min-width: 380px;
    height: 100%;
  }

  body {
    overflow-x: hidden;
    overflow-y: auto;
  }

  h1, h2, h3, h4, h5, h6 {
    padding: 0 .5em;
    margin-left: 0;
    margin-right: 0;
  }

  h1 {
    font-size: 1.4em;
    line-height: 1.6;
    margin-top: 1.1em;
    margin-bottom: 1.1em;
    font-weight: bold;
  }

  h2 {
    font-size: 1.25em;
    line-height: 1.4;
    margin-top: .8em;
    margin-bottom: .8em;
    font-weight: normal;
    padding: .3em .5em;
  }

  h3 {
    font-size: 1.15em;
    line-height: 1.4;
    margin-top: .7em;
    margin-bottom: .7em;
  }

  h4 {
    font-size: 1.1em;
    line-height: 1.3;
    margin-top: .6em;
    margin-bottom: .6em;
  }

  h5 {
    font-size: 1em;
    line-height: 1.2;
    margin-top: .6em;
    margin-bottom: .6em;
  }

  h6 {
    font-size: 1em;
    line-height: 1;
    margin-top: .5em;
    margin-bottom: .5em;
  }

  a {
    text-decoration: none;

    transition-property: opacity, color, background-color;
    transition-duration: .1s;

    &, &:visited {
      color: $primary-color;
    }

    &:hover, &:active, &:focus {
      color: $primary-color-light;
    }
  }

  p {
    margin-top: 1em;
    margin-bottom: 1em;
  }

  input[type=text], textarea {
    -webkit-user-select: auto;
  }

  img {
    height: auto;
    max-width: 100%;
  }
}
