@-webkit-keyframes linkblanker-anim-close-action {
	0% {
		opacity: 0;
		-webkit-transform: scale(0, 0);
	}
	15% {
		opacity: 1;
		-webkit-transform: scale(1, 1);
	}
	85% {
		opacity: 1
	}
	100% {
		opacity: 0;
	}
}

.linkblanker-close-action {
	position: absolute;
	width: 500px;
	height: 500px;
	background-position: 0 0;
	background-attachment: scroll;
	background-repeat: no-repeat;
	-webkit-animation: linkblanker-anim-close-action 1000ms ease-in-out;
	-webkit-transform-origin: 50% 50%;
	-webkit-animation-fill-mode: forwards;
	z-index: 999999
}

.linkblanker-message {
	font-family: Helvetica, arial, freesans, clean, sans-serif;;
	width: inherit;
	height: inherit;
	display: table-cell;
	text-align: center;
	vertical-align: middle;
	color: #333;
	font-weight: bold;
	font-size: 18px;
	line-height: 25px;
	padding: 0 140px 0 165px;
	box-sizeing: border-box;
}

.linkblanker-from {
	padding: 4px;
	font-size: 15px;
}
