@import "compass";
@import "compass/reset/utilities";
@import "compass/utilities/general/clearfix";

#linkblanker-canvas {
	@include nested-reset;
	position: absolute;
	box-sizing: border-box;
	z-index: 2999999999;
	background-color:rgba(0,0,0,.8);
	opacity: 0;
	-webkit-transition: opacity 0.3s;
	transition: opacity 0.3s;

	&.show {
		opacity: 1;
	}

	&.hide {
		opacity: 0;
	}
}

#linkblanker-notify {
	@include nested-reset;
	box-sizing: border-box;
	position: fixed;
	top: 6px;
	right: 6px;
	z-index: 2999999999;
	opacity: 0;
	padding: 6px;
	border-radius: 6px;
	border: 2px solid #fff;
	background-color: rgba(0,0,0,.9);
	box-shadow: #a6a6a6 0px 4px 10px;
	width: 300px;
	height: 66px;
	background-color: rgba(0,0,0,0.8);

	@include transition(opacity .5s);

	.linkblanker-icon {
		position: absolute;
		top: 6px;
		left: 6px;
		border-radius: 3px;
	}

	.linkblanker-message {
		position: absolute;
		color: #fff;
		left: 64px;
		font-size: 14px;
		line-height: 1.5em;
		top: 10px;
		font-weight: bold;
	}

	.linkblanker-linkbox {
		position: absolute;
		left: 64px;
		bottom: 12px;
		right: 6px;

		&, li, li > a {
			font-size: 12px;
			line-height: 1em;
		}

		li {
			display: inline-block;
			vertical-align: middle;
			padding: 0 6px;
			border-right: 1px solid #8e8e8e;

			a {
				color: #ecdf85;
			}
		}

		li:first-child {
			padding-left: 0;
		}

		li:last-child {
			border-right: 0;
		}
	}

	&.show {
		opacity: 1;
	}

	&.hide {
		opacity: 0;
	}
}
