/*
 * contentscript.scss
 */

// core

@import "variables";

// third party

@import "compass";
@import "compass/reset/utilities";
@import "compass/utilities/general/clearfix";
@import "compass/css3/selection";

#linkblanker-canvas, #linkblanker-notify {
  @include nested-reset;
  html, body, div, span, applet, object, iframe,
  h1, h2, h3, h4, h5, h6, p, blockquote, pre,
  a, abbr, acronym, address, big, cite, code,
  del, dfn, em, img, ins, kbd, q, s, samp,
  small, strike, strong, sub, sup, tt, var,
  b, u, i, center,
  dl, dt, dd, ol, ul, li,
  fieldset, form, label, legend,
  table, caption, tbody, tfoot, thead, tr, th, td,
  article, aside, canvas, details, embed,
  figure, figcaption, footer, header, hgroup,
  menu, nav, output, ruby, section, summary,
  time, mark, audio, video, input, textarea, select, option {
    box-sizing: border-box;
    font-family: Roboto, Helvetica, 'Hiragino Kaku Gothic Pro', sans-serif;
    font-size: $base-font-size;
    line-height: $line-height;
    letter-spacing: $letter-spacing;
    color: $text-color;
    background-color: transparent;
    overflow: visible;
    @include selection($primary-color-light, null);
  }

  box-sizing: border-box;
}

#linkblanker-canvas {
  position: absolute;
  z-index: 2999999999;
  background-color:rgba(0,0,0,.8);
  opacity: 0;

  &.show {
    opacity: 1;
  }

  &.hide {
    opacity: 0;
  }
}

#linkblanker-notify {
  position: fixed;
  top: 8px;
  right: 8px;
  z-index: 2999999999;
  opacity: 0;
  padding: 6px;
  border-radius: 1px;
  border: 0;
  background-color: $background-color;
  box-shadow: $border-color-dark 0px 0px 21px;
  width: 350px;
  height: 66px;


  .linkblanker-icon {
    position: absolute;
    top: 6px;
    left: 6px;
    border-radius: 3px;
  }

  .linkblanker-message {
    position: absolute;
    color: $text-color;
    left: 64px;
    font-size: 16px;
    line-height: 1.5em;
    top: 10px;
    font-weight: bold;
  }

  .linkblanker-linkbox {
    position: absolute;
    left: 64px;
    bottom: 14px;
    right: 6px;
    text-align: left;

    &, li, li > a {
      font-size: 12px;
      line-height: 1em;
    }

    li {
      display: inline-block;
      vertical-align: middle;
      padding: 0 6px;
      border-right: 1px solid #8e8e8e;

      a {
        color: $primary-color-dark;
      }
    }

    li:first-child {
      padding-left: 0;
    }

    li:last-child {
      border-right: 0;
    }
  }

  &.show, &.hide {
    @include animation-fill-mode(forwards);
    @include animation-delay(0);
    @include animation-duration(.3s);
    @include animation-direction(normal);
    @include animation-iteration-count(1);
    @include animation-timing-function(linear);
  }

  &.show {
    @include animation-name(fadeInDown);
  }

  &.hide {
    @include animation-name(fadeOutRight);
  }
}

@keyframes fadeInDown {
  from {
    opacity: 0;
    transform: translate3d(0, -100%, 0);
  }

  to {
    opacity: 1;
    transform: none;
  }
}

@keyframes fadeOutRight {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
    transform: translate3d(100%, 0, 0);
  }
}

