/*
 * popup.scss
 */

@import "variables";
@import "tags";

@include tags;

$logo-x: 60px;
$icon-size: 48px;

#wrapper {
  padding: 1em;
}

#extension-name {
  width: 100%;
  height: $icon-size + $base-font-size;
  background: url("/img/logo.svgz") $logo-x 0 scroll no-repeat;
  position: relative;

  .icon {
    position: absolute;
    top: 0;
    left: 0;
    width: $icon-size;
    height: $icon-size;
  }
}

#version-name {
  display: inline-block;
  position: absolute;
  bottom: 0;
  left: $logo-x + 3px;
}

.popup-header {
  border-bottom: 1px solid $border-color;
}

.popup-list {
  padding: 0;
  margin: 1.2rem 0;

  li {
    list-style-type: none;
    display: block;
    padding: 0 0 .3em .6em;
    margin: 0 0 .6em 0;

    > div {
      width: 100%;
    }
  }

  .split {
    border-top: 1px solid $border-color-light;
    padding-top: .9em;
  }
}

.nmt {
  & > * {
    margin-top: -1em;
  }
}
