@import 'normalize';
@import 'variable';
@import 'tag';

html, body {
  background-color: #fff;
}

#app {
  padding: $space * 2;
  width: 408px;
}

.global-header {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: flex-start;
}

.icon {
  width: 50px;
}

.app-info {
  padding: 0 0 0 $space * 2;
}

.version-name {
  margin: 0;
}

.popup-list {
  list-style-type: none;
  padding: 0;
  margin-top: $space;
  padding: 0 0 0 $space;

  li {
    margin-top: $space;
  }

  label {
    padding: $space * 0.4 0;
  }
}

.border-top {
  border-top: 1px solid $grey-300;
}
