/*
 * popup.scss
 */

// core

@import "variables";

// third party

@import "compass";
@import "compass/reset";
@import url(http://fonts.googleapis.com/css?family=Roboto:400,300,500);

// original

@import "tags";

$logo-x: 60px;
$icon-size: 48px;

#root, #app {
  height: 100%;
}

#app {
  padding: 1em;
}

#popup {
  min-width: 380px;
}

#preference, #tree {
  width: 100%;
}

.extension-name {
  width: 100%;
  height: $icon-size + $base-font-size;
  background: url("/img/logo.svgz") $logo-x 0 scroll no-repeat;
  position: relative;

  .icon {
    position: absolute;
    top: 0;
    left: 0;
    width: $icon-size;
    height: $icon-size;
  }
}

.version-name {
  display: inline-block;
  position: absolute;
  bottom: 0;
  left: $logo-x + 2px;
}

.header-underline {
  border-bottom: 1px solid $border-color;
}

.list {
  li {
    list-style-type: none;
    display: block;
    padding: 0 0 .3em .6em;
    margin: 0 0 .6em 0;

    > div {
      width: 100%;
    }
  }

  .split {
    border-top: 1px solid $border-color-light;
    padding-top: .9em;
  }
}
