/*
 * popup.scss
 */

// core

@import "variables";

// third party

@import "compass";
@import "compass/reset";
@import "../../node_modules/font-awesome/scss/font-awesome";
@import url(http://fonts.googleapis.com/css?family=Roboto:400,300,500);

// original

@import "tags";

$logo-x: 60px;
$icon-size: 48px;

#root, #app {
  overflow: auto;
}

#app {
  position: relative;
  padding: 1em;
}

#popup {
  min-width: 380px;
}

#preference, #tree {
  position: relative;
  width: 100%;
}

#tree {
  padding: 1em;
}

.extension-name {
  width: 100%;
  height: $icon-size + $base-font-size;
  background: url("/img/logo.svgz") $logo-x 0 scroll no-repeat;
  position: relative;

  .icon {
    position: absolute;
    top: 0;
    left: 0;
    width: $icon-size;
    height: $icon-size;
  }
}

.version-name {
  display: inline-block;
  position: absolute;
  bottom: 0;
  left: $logo-x + 2px;
}

.header-underline {
  border-bottom: 1px solid $border-color;
}

.list {
  li {
    list-style-type: none;
    display: block;
    padding: 0 0 .3em .6em;
    margin: 0 0 .6em 0;

    > div {
      width: 100%;
    }
  }

  .split {
    border-top: 1px solid $border-color-light;
    padding-top: .9em;
  }
}

.tab-tree-group, .tab-tree, .tab {
  position: relative;
  width: auto;
}

.tab-tree-group {
  margin-left: 3rem;

  .remove-children {
    position: absolute;
    top: .2rem;
    left: -1.5rem;
    display: inline-block;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    font-size: 1.8rem;
    color: $text-color-light;
    cursor: pointer;
    -webkit-font-smoothing: antialiased;

    &:before {
      content: "\f105";
    }

    &:hover {
      left: -2rem;
      color: $error-color;

      & ~ .tab-tree {
        background-color: $error-color-light;

        h6 {
          @extend .highlight-text;
        }
      }

      &:before {
        content: "\f00d";
      }
    }
  }
}

.tab-tree {
  padding: 0;

  @include transition-property(width, height, opacity, border, color, background-color);
  @include transition-duration(.1s);

  .tab-icon {
    position: absolute;
    top: 1rem;
    left: .5rem;
    cursor: pointer;
    z-index: 2;

    .favicon {
      display: inline-block;
    }

    .remove-tab {
      display: none;
      font-size: 1.8rem;
      margin-top: -.5rem;
      color: $error-color;
    }

    &:hover {
      .favicon {
        display: none;
      }

      .remove-tab {
        display: inline-block;
      }

      & ~ .tab {
        background-color: $error-color-light;

        h6 {
          @extend .highlight-text;
        }
      }
    }
  }
}

.tab {
  padding: 1rem .5rem 1rem 2rem;
  cursor: pointer;
  z-index: 1;

  @include transition-property(width, height, opacity, border, color, background-color);
  @include transition-duration(.1s);

  &:hover {
    background-color: $primary-color-light;

    h6 {
      @extend .highlight-text;
    }
  }

  h6 {
    margin: 0;
    line-height: 1.2rem;
  }
}

#tree > .tab-tree-group {
  margin-left: 1rem;

  border-bottom: 1px dashed $border-color;

  &:last-child {
    border-bottom: 0;
  }
}

.fa {
  color: $text-color;
  font-size: 16px;
  font-weight: bold;
}

.fa-spin {
  color: $primary-color;
  font-weight: normal;
}

.highlight-text {
  font-weight: bold;
  letter-spacing: $letter-spacing - 0.002em;
}
