/*
 * popup.scss
 */

// core

@import "variables";

// third party

@import "compass";
@import "compass/reset";
@import "../../node_modules/font-awesome/scss/font-awesome";
@import url(http://fonts.googleapis.com/css?family=Roboto:400,300,500);

// original

@import "tags";

$logo-x: 60px;
$icon-size: 48px;

#root, #app {
  overflow: auto;
}

#app {
  position: relative;
  padding: 1em;
}

#popup {
  min-width: 380px;
}

#preference, #tree {
  position: relative;
  width: 100%;
}

#tree {
  padding: 1em;
}

.extension-name {
  width: 100%;
  height: $icon-size + $base-font-size;
  background: url("/img/logo.svgz") $logo-x 0 scroll no-repeat;
  position: relative;

  .icon {
    position: absolute;
    top: 0;
    left: 0;
    width: $icon-size;
    height: $icon-size;
  }
}

.version-name {
  display: inline-block;
  position: absolute;
  bottom: 0;
  left: $logo-x + 2px;
}

.header-underline {
  border-bottom: 1px solid $border-color;
}

.list {
  li {
    list-style-type: none;
    display: block;
    padding: 0 0 .3em .6em;
    margin: 0 0 .6em 0;

    > div {
      width: 100%;
    }
  }

  .split {
    border-top: 1px solid $border-color-light;
    padding-top: .9em;
  }
}

.fa {
  color: $text-color;
  font-size: 16px;
  font-weight: lighter;
}

.highlight-text {
  font-weight: bold;
  letter-spacing: $letter-spacing - 0.006em;
}

.tab, .tab-tree, .tab-title {
  @include transition-property(background-color);
  @include transition-duration(.5s);
}

.tab {
  position: relative;

  // &:nth-child(odd) > .tab-title {
  //   background-color: #fcfcfc;
  // }
}

.tab-tree {
  position: relative;
  margin-left: 48px;
  padding-left: 48px;
}

.tab-title {
  margin: 0 0 0 0;
  padding: 12px 12px 12px 48px;
  line-height: 24px;
  border-bottom: 1px dotted $border-color-light;
  cursor: pointer;

  &:last-child {
    border-bottom: 0;
  }
}

.tab-tree-icon-with-me, .tab-tree-icon, .tab-icon {
  position: absolute;
  top: 0;
  width: 48px;
  height: 48px;

  & > * {
    position: absolute !important;
    top: 0 !important;
    left: 0 !important;
    width: 48px !important;
    height: 48px !important;
    cursor: pointer;
    @include transition-property(opacity);
    @include transition-duration(.3s);
  }

  & > span {
    padding: 12px;
    font-size: 24px;
    line-height: 1em;
  }

  .chevron, .favicon, button {
    text-align: center;
  }

  .chevron, .favicon {
    opacity: 1;
    z-index: 0;
    color: $text-color-light !important;
  }

  button {
    opacity: 0;
    z-index: 1;

    span {
      color: $error-color !important;
    }
  }

  &:hover {
    .chevron, .favicon {
      opacity: 0 !important;
    }

    button {
      opacity: 1;
    }
  }
}

.tab-tree-icon-with-me {
  right: 0;

  .chevron {
    font-size: 20px !important;
    line-height: 1.2em;

  }
}

.tab-tree-icon {
  left: 0;
}

.tab-icon {
  left: 0;

  .favicon {
    color: $text-color !important;
  }

  .fa-spin {
    color: $primary-color !important;
  }

  span.favicon {
    padding: 16px;
    font-size: 16px;
  }

  & > img {
    padding: 16px;
  }
}

.tab-active-range {
  &, .tab, .tab-tree, .tab-title {
    background-color: $primary-color-light !important;
  }
}

.tab-remove-range {
  &, .tab, .tab-tree, .tab-title {
    background-color: $error-color-light !important;
  }
}
